/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-may-2018, 21:10:02
    Author     : Oscar


.divTotal{
   
        
};
.EncabezadoPrincipal{
  
  
};
.divizquierdoDelEncabezadoPrincipal{
     
    
};
.divDerechoDelEncabezadoPrincipal{

    
};  
#btn-menu{
   
}*/
header label {
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
     
    border-right: 1px solid rgb(68, 91, 48);
}

header label:hover{
    cursor: pointer;
    background-color: #a6a6a6;
}
.menu ul{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    color: red
        
    
    
}
.menu li {
border-right: 1px solid rgb(68, 91, 48);


}
/*color de la pestaña que sale cuando 
pantalla pequeña ; es el color que sale
cuando pones el aton encima
*/
.menu li:hover {
    background-color:#a6a6a6;
}


.menu li a {
    display: block;
    padding: 15px 20px;
    color: rgb(68, 91, 48);
    text-decoration: none;
}
@media (max-width:768px){
    header label{
        display: block;
    }
    .menu {
        position: absolute;
        width:70%;
        margin-left:-70%;
        display: none;
        background-color: red;
    }
    .menu ul{
        flex-direction: column;
        background-color: red
    }
    .menu li {
        border-top:1px solid #fff; 
        /*color de la pestaña que sale cuando 
            pantalla pequeña ; 
            */
        background-color :#cccccc;
    }
    #btn-menu:checked ~.menu{
        margin: 0;
        width: 70%;
       
        background: red;
         display: block;
    }
    
}


/*
   <div class="divDerechoDelEncabezadoPrincipal"> 
                   <h1 style="text-align: center;font-family: Roboto,Arial,sans-serif;">
                    ¿Te gusta hacer deporte?
                    <br>¿Crees poder ser el mejor en tu deporte?
                    <br>¿O lo que te gusta es pasarlo bien con tus amigos?
                    <br>Si es asi <a href="https://play.google.com/store">MEETING SPORT </a>es tu aplicacion
                </h1>
            </div> 
                <div class="divizquierdoDelEncabezadoPrincipal">
                    <a> en este div lo que ira es una imagen de la aplicacion
                    </a>
                    
                </div>*/
/* <div style="border-color: black;
                            border-style: solid;
                            float: left;">
            <link rel="shortcut icon" type="image/x-icon" href="imagenes/124010.png" />
           
                </div>*/
